<h1>Comprobante de mesa de entrada: <%=h "\"#{@comprobante_de_mesa_de_entrada.tipo} - #{@comprobante_de_mesa_de_entrada.numero} - #{@comprobante_de_mesa_de_entrada.fecha}\"" %></h1>
<h2><%=h titulo %></h2>
<% form_for([@comprobante_de_mesa_de_entrada, @movimiento_de_mesa_de_entrada]) do |f| %>
  <%= f.error_messages %>
  <table>
    <tr>
      <th><%= f.label :expediente %></th>
     <td>
        <% if boton == 'Show' %>
          <%= f.text_field :nombre_expediente, :disabled => true  %>
        <% else %>
          <%= f.select :expediente_id, 
          @expedientes.collect {|e| [e.nombre, e.id]}, 
          :include_blank => 'Elija un expediente'  %>
        <% end %>
     </td>
    </tr>
    <tr>
      <th><%= @movimiento_de_mesa_de_entrada.tipo != 'Pase' ? (f.label :instancia) : (f.label :instancia_origen) %></th>
      <td>
        <% if boton == 'Show' %>
          <%= f.text_field :nombre_instancia_origen, :disabled => true  %>
        <% else %>
          <%= f.select :instancia_origen_id, 
          @instancias_origen.collect {|i| [i.nombre, i.id]}, 
            :include_blank => 'Elija una instancia origen'  %>
        <% end %>
      </td>
    </tr>
    <% if @movimiento_de_mesa_de_entrada.tipo == 'Pase' %>
        <tr>
          <th><%= f.label :instancia_destino %></th>
          <td>
            <% if boton == 'Show' %>
              <%= f.text_field :nombre_instancia_destino, :disabled => true  %>
            <% else %>
              <%= f.select :instancia_destino_id, 
              @instancias_destino.collect {|i| [i.nombre, i.id]}, 
                :include_blank => 'Elija una instancia destino'  %>
            <% end %>
          </td>
        </tr>
    <% end %>
    <tr>
      <th><%= f.label :tipo %></th>
      <td><%= f.text_field :tipo, :disabled => true %></td>
          <%= f.hidden_field :tipo %>
    </tr>
		<tr>
			<th><%= f.label :dias_plazo %></th>
			<td><%= f.text_field :dias_plazo, :size => 8, :disabled => boton == 'Show' %></td>
		</tr>
		<tr>
			<th><%= f.label :informe %></th>
			<td><%= f.text_area :informe, :size => '40x4', :disabled => boton == 'Show' %></td>
		</tr>
  </table>
  <p>
    <% if boton == 'Show' %>
      <%= link_to 'Editar', edit_comprobante_de_mesa_de_entrada_movimiento_de_mesa_de_entrada_path(@comprobante_de_mesa_de_entrada,@movimiento_de_mesa_de_entrada) %> |
      <%= link_to 'Listar', comprobante_de_mesa_de_entrada_movimientos_de_mesa_de_entrada_path %> |
      <%= link_to 'Nuevo', new_comprobante_de_mesa_de_entrada_movimiento_de_mesa_de_entrada_path %>
    <% else %>
      <%= f.submit boton, :disabled => permiso?(boton == 'Crear' ? 'A' : 'M') %> |
      <%= link_to 'Cancelar', comprobante_de_mesa_de_entrada_movimientos_de_mesa_de_entrada_path %>
    <% end %>
  </p>
<% end %>
