<div id='main'>
	<h1>Buscar afiliados:</h1>
	<%= aviso %>
	<% form_for @form, :url => 'buscar', :html => { :method => :get } do |f| %>
		<table>
			<tr>
				<th><%= f.label :id_afiliado %> <%= '&nbsp' * 5 %></th>
				<td><%= f.text_field :id_afiliado, :size => 5 %></td>
			</tr>
			<tr>
				<th><%= f.label :nombre_afiliado %></th>
				<td><%= f.text_field :nombre_afiliado, :size => 50 %></td>
			</tr>
		</table>
		<p>
			<%= f.submit 'Buscar' %> <%= link_to 'cancelar', :action => 'index' %><br />
		</p>
	<% end %>
</div>

<% if @afiliados.first %>
	<div id='main'>
		<br />
		<table>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
			</tr>
			<% @afiliados.each do |afiliado| %>
				<tr>
					<td><%=h afiliado.id %></td>
					<td><%= link_to afiliado.nombre,
						edit_afiliado_path(afiliado) %></td>
					</tr>
			<% end %>
		</table>
	</div>
<% end %>
