<div id='main' >
    <h1>Cuentas de proveedores</h1>
	<p>
		<%= will_paginate @cuentas_de_proveedores, :previous_label => 'Anterior', :next_label => 'Siguiente' %>
	</p>
    <table>
        <tr>
			<th>Id</th>
			<th colspan='4'>Comprobante</th>
			<th colspan='2'>Proveedor</th>
			<th colspan='4'>Valor</th>
			<th colspan='3'>Movimiento</th>
			<th>Importe</th>
			<th colspan='4'>Aplicación</th>
			<th colspan='6'>Auditoría</th>
		</tr>
		<% @cuentas_de_proveedores.each do |cuenta_de_proveedor| %>
			<tr>
				<td align='right'><%=h cuenta_de_proveedor.id %></td>
				<td><%=h cuenta_de_proveedor.fecha %></td>
				<td><%=h cuenta_de_proveedor.tipo %></td>
				<td align='right'><%=h cuenta_de_proveedor.centro %></td>
				<td align='right'><%=h cuenta_de_proveedor.numero %></td>

				<td align='right'><%=h cuenta_de_proveedor.proveedor_id %></td>
				<td><%=h cuenta_de_proveedor.proveedor.nombre %></td>

				<td><%=h cuenta_de_proveedor.fecha_valor %></td>
				<td><%=h cuenta_de_proveedor.clase_valor %></td>
				<td align='right'><%=h cuenta_de_proveedor.lote_valor %></td>
				<td align='right'><%=h cuenta_de_proveedor.numero_valor %></td>

				<td><%=h cuenta_de_proveedor.detalle %></td>
				<td><%=h cuenta_de_proveedor.movimiento %></td>
				<td><%=h cuenta_de_proveedor.vencimiento %></td>

				<td align='right'><%=h '%.2f' % cuenta_de_proveedor.importe %></td>

				<td><%=h cuenta_de_proveedor.fecha_aplicado %></td>
				<td><%=h cuenta_de_proveedor.tipo_aplicado %></td>
				<td align='right'><%=h cuenta_de_proveedor.centro_aplicado %></td>
				<td align='right'><%=h cuenta_de_proveedor.numero_aplicado %></td>

				<td><%=h cuenta_de_proveedor.fec_grab %></td>
				<td><%=h cuenta_de_proveedor.hor_grab %></td>
				<td><%=h cuenta_de_proveedor.wks_grab %></td>
				<td><%=h cuenta_de_proveedor.tip_grab %></td>
				<td><%=h cuenta_de_proveedor.usr_grab %></td>
				<td align='right'><%=h cuenta_de_proveedor.rec_grab %></td>
			</tr>
		<% end %>
	</table>
	<p>
		<%= will_paginate @cuentas_de_proveedores, :previous_label => 'Anterior', :next_label => 'Siguiente' %>
	</p>
</div>
